
<div [formGroup]="form">
   @if(field?.variant === "basic")
   {
    <div class="flex flex-column gap-2 w-full">
        <label for="field?.name">{{field?.label}}</label>
        <p-calendar [inputId]="field?.name"  [formControlName]="field?.name" [showIcon]="true" [timeOnly]="field?.timeOnly"
        [selectionMode]="field?.selectionMode ? field?.selectionMode : 'single'" 
        [showTime]="field.showTime"  
        [dateFormat]="field.yy?field.yy:'dd-MM-yy'"
         appendTo="body" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"   [view]="field?.view?field.view :'date'"  [minDate]="field?.minDateValue?field.minDateValue:null" [maxDate]="field?.maxDateValue?field.maxDateValue:null" [readonlyInput]="field?.readonly?field?.readonly:false" [defaultDate]="defaultDate"></p-calendar>
    </div>
   
   }
   @else{
    <p-calendar [inputId]="field?.name"  [formControlName]="field?.name" [showIcon]="true" [timeOnly]="field?.timeOnly"
    [selectionMode]="field?.selectionMode ? field?.selectionMode : 'single'" 
    [showTime]="field.showTime"  
    [dateFormat]="field.yy?field.yy:'dd-MM-yy'"
     appendTo="body" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"   [view]="field?.view?field.view :'date'"  [minDate]="field?.minDateValue?field.minDateValue:null" [maxDate]="field?.maxDateValue?field.maxDateValue:null" [readonlyInput]="field?.readonly?field?.readonly:false" [defaultDate]="defaultDate"></p-calendar>
   }
</div>