<div class="flex flex-row justify-content-between">

    <div>

        @if(dialogConfig.data?.tabConfig){
        @if(dialogConfig.data?.tabConfig?.index > 0){
        <button pButton label="Previous" class="primary" (click)="previousTab()"></button>
        }
        @if(dialogConfig.data?.tabConfig?.index !== dialogConfig.data?.tabConfig?.tabsLength - 1){
        <button pButton label="Next" class="primary" (click)="nextTab()"></button>

        }
        }
        <!-- @else{
        <button pButton label="{{'save_TC' | translate}}" class="primary" (click)="onSubmit()"
            [disabled]="dialogConfig.data?.form?.isFormValid"></button>
        }
        } -->
        <!-- @else{
        <button pButton label="{{'save_TC' | translate}}" class="primary" (click)="onSubmit()"
            [disabled]="dialogConfig.data?.form?.isFormValid"></button>
        }
        {{dialogConfig.data?.form| json}} -->
    </div>

    <div>
        <button pButton label="Cancel" class="secondary" (click)="dialogRef.close()"></button>

        <button pButton label="{{'save_TC' | translate}}" class="primary" (click)="onSubmit()"
            [disabled]="dialogConfig.data?.form?.isFormValid"></button>

    </div>

</div>