/* Table CSS */

/* .p-datatable .p-datatable-thead>tr>th {
    padding: 0.5rem 0.5rem !important;
}

.p-datatable .p-datatable-tbody>tr>td {
    padding: 0.5rem !important;
}

.p-datatable .p-datatable-header {
    background: inherit !important;
    color: inherit !important;
    padding: 0.5rem 0.25rem !important;
}

.p-datatable.p-datatable-scrollable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-thead {
    background-color: inherit !important;
    color: inherit !important;
}

.p-datatable .p-datatable-thead>tr>th {
    background: var(--table-header-bg) !important;
    color: inherit !important;
}

.p-datatable .p-datatable-tbody>tr {
    background: inherit !important;
    color: inherit !important;
} */